{
  "pluginId": "{{.PluginId}}",
  "version": "1.0.0",
  "author": "{{.Author}}",
  "country": "{{.Country}}",
  "hasFrontend": {{.HasFrontend}},
  "backend": {
    "project": "{{.BackendProject}}"
  },
  "frontend": {
    "root": "{{.FrontendRoot}}"
  }
}
