using Veritix.Plugin.SDK.Capabilities;

namespace Veritix.Plugin.{{.PluginId}}.Contracts;

public interface I{{.PluginId}}Capability : IPluginCapability
{
    // Define lo que este plugin expone a otros
}
